@charset "UTF-8";

.imagem{
    text-align: center;
}
.imagehome{
    width: 740px;
    margin-bottom: 50px;
    box-shadow: 1px 0px 5px black;
}
.imagehome:hover{
    box-shadow: 3px 0px 14px black;
    width: 745px;
}
.imagelinktitulo{
    text-decoration: none;
    color: black;
}
article>ul>li{
    padding-top: 18px;
}
article>ul>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
article>ul>a:hover{
    text-decoration: underline;
}
iframe{
    margin: 20px 0px;    
    width: 600px;
    height: 800px;
}
#iframe{
    text-align: center;
}