@charset "UTF-8";
:root{
    --cornav: #a02a1a;
}


@font-face {
    font-family: 'roboto';
    src: url(Font/Roboto/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas';
    src: url(../Font/Bebas_Neue/BebasNeue-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
.tituloh1{
text-align: center;
padding: 50px 0px;
font-size: 4em;
font-weight: normal;
font-family: 'bebas';
}


#mainformacao{
    margin-top: 20px;
    margin: 0px 15vw;
}

.subtitulo{
 text-align: center;
 font-family: 'roboto';
 font-size: 1.3em;
 margin-top: 5px;
}
.imageselect{
    width: 300px;
    height: 220px;
}
.imageselect:hover{
    width: 300px;
    height: 220px;
    box-shadow: 0px 0px 5px rgb(117, 108, 108);
    border: 5px solid var(--cornav);
    margin: -5px;
}
.Formacoes{
    display: inline-block;
    margin: 10px;

}